@import url('https://fonts.googleapis.com/css?family=Duru+Sans|Istok+Web|Montserrat 800|Open+Sans:400,400i,700');
/*

    font-family: 'Montserrat', sans-serif;

    font-family: 'Istok Web', sans-serif;

    font-family: 'Duru Sans', sans-serif;
    
    font-family: 'Open Sans', sans-serif;

*/

// Typography ~~~

* {
  margin: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-family: 'Istok Web', sans-serif;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  line-height: 6rem;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

p {
  font-family: 'Duru Sans', sans-serif;
  font-size: 1em;
}

span {
  background-color: yellow;
  color: #222;
}

body {
  display: grid;
  grid-template-areas: "navbar main";
  grid-template-columns: 400px 1fr;
  overflow-x: hidden;
  background: rgb(32, 161, 162);
  background: linear-gradient(140deg, rgba(32, 161, 162, 1) 25%,50%, rgba(209, 77, 69, 1) 75%, rgba(104, 56, 28, 1) 100%);
  color: #fff;
}

// Nav ~~

nav {
  grid-area: navbar;
  background: #D14D45;
  padding: 1.5rem;
  position: fixed;
  height: 100vh;
  width: 320px;
  
  h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
  }

  ul {
    padding: 1.5rem;
    margin: 0;
    border: 0;
    list-style-type: none;
    font-size: 2rem;
    
  li {
    padding: 0.5em;
  }
    
    .nav-link, li {
      text-decoration: none;
      color: #fff;
      transition: background-color 0.1s ease-out;

      &:hover {
        background-color: #222;
      }
    }
  }
}

#main-doc {
  grid-area: main;
  padding: 20px;
}

.main-section > * {
  line-height: 2.8rem;
}

pre {
  background-color: rgba(44, 44, 44, 0.5);
  width: 50%;
  padding: 2rem;
}

section > li,
a:visited,
a:link {
  color: #222;
  text-decoration: none;
  list-style-type: none;
}

@media (max-width: 769px) {
  body {
    grid-template-areas:
      "navbar"
      "main";
  }

  #navbar {
    grid-area: navbar;
    width: 100vw;
    max-height: 250px;
    position: relative;

    ul,
    li {
      font-size: 1.5rem;
      display: inline-block;
    }
  }

  img {
    width: auto;
    margin: 0;
  }

  pre {
    background-color: rgba(44, 44, 44, 0.5);
    width: 100%;
    padding: 2rem;
  }

}